
<!-- ===== Load global AUTHORS from include ===== -->
<script>
  const AUTHORS = {
    1:{en:"Insu Choi",ko:"최인수"},
    2:{en:"Woosung Koh",ko:"고우성"},
    3:{en:"Minhyuk Lee",ko:"이민혁"},
    4:{en:"Taekyu Lee",ko:"이태규"},
    5:{en:"Seungpyo Park",ko:"박승표"},
    6:{en:"Kyungsung Shin",ko:"신경성"},
    7:{en:"Soyoung Lee",ko:"이소영"},
    8:{en:"Woochangkim Kim",ko:"김우창"},
    9:{en:"Jiho Kim",ko:"김지호"},
    10:{en:"Minseok Kim",ko:"김민석"},
    11:{en:"Woosang Lim",ko:"임우상"},
    12:{en:"Doyoung Lee",ko:"이도영"},
    13:{en:"Taechan Ahn",ko:"안태찬"},
    14:{en:"Geonhee Kang",ko:"강건희"},
    15:{en:"Yedam Jang",ko:"장예담"},
    16:{en:"Jinwoo Choi",ko:"최진우"},
    17:{en:"Wonmin Choi",ko:"최원민"},
    18:{en:"Joonhyup Lee",ko:"이준협"},
    19:{en:"Younghwan Cho",ko:"조영환"},
    20:{en:"Hyunsoo Choi",ko:"최현수"},
    21:{en:"Wonje Yun",ko:"윤원제"},
    22:{en:"Sukyeon Park",ko:"박수견"},
    23:{en:"Chaeyeon Lee",ko:"이채연"},
    24:{en:"Ahwon Kim",ko:"김아원"},
    25:{en:"Eunsoo Choi",ko:"최은수"},
    26:{en:"Soohyeong Kim",ko:"김수형"},
    27:{en:"Kyoungryeong Min",ko:"민경영"},
    28:{en:"Joonwoo Bae",ko:"배준우"},
    29:{en:"Kyoungwoon Jeong",ko:"정경운"},
    30:{en:"Jiseon Shin",ko:"신지선"},
    31:{en:"Dongin Lee",ko:"이동인"},
    32:{en:"Jinho Yoon",ko:"윤진호"},
    33:{en:"Seongpil Park",ko:"박성필"},
    34:{en:"Woo Chang Kim",ko:"김우창"},
    35:{en:"Jihee Kim",ko:"김지희"},
    36:{en:"Chunghwan Lee",ko:"이충환"},
    37:{en:"Meeyoung Cha",ko:"차미영"},
    38:{en:"Hyeonglip Bae",ko:"배형립"},
    39:{en:"Hyoungjun Yoon",ko:"윤형준"},
    40:{en:"Hyungyu Jeong",ko:"정현규"},
    41:{en:"Yejin Kim",ko:"김예진"},
    42:{en:"Seokhwan Choi",ko:"최석환"}
  };
</script>
